/* * {
    border: 1px solid red;
} */
html{
    height:100%;
}
body {
    background-color: rgb(155, 102, 102);
    margin: 0;
    background: 0;
    min-width: 55rem;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    min-height:100%;
    position: relative;
}

/* Navigation Bar */
#topbar {
    background-color: lightgray;
    height:6rem;
    padding: 0;
    position:relative;
    border-bottom: .2rem solid gray;
}

    nav {
        width: 100%;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    nav div {
        list-style-type: none;
        margin: 0;
        margin-right: 4rem;
        padding: 0;
        text-align: left;
        width:25%;
        float:left;
    }
        nav h1 {
        text-align: left;
        display:inline;
        margin-left:2rem;
        font-size:1.5rem;
        }
        nav h2 {
        text-align:left;
        margin:0;
        margin-left:2rem;
        font-size:.75rem;
        }

    nav ul {
            list-style-type: none;
            margin: 0;
            margin-top: 1rem;
            margin-right: 2rem;
            padding: 0;
            text-align: center;
            width:50%;
            float:right;
        }
        nav li {
            display: inline;
            margin-right: 20px;
            font-size: x-large;
        }
        nav a {
            color: rgb(0, 0, 0);
            text-decoration: none;
            font-size: 1rem;
        }

/* Bottom Contact Bar */
#bottomContact {
    border-top:.2rem solid gray;
    text-align:center;
    /* position:absolute;
    bottom:0; */
    width:100%;
    margin-bottom:1rem;
}
#bottomContact h3 {
    text-decoration: underline;
    margin:0;
    font-size: medium;
}
#bottomContact h4 {
    margin:0;
    font-size: small;
}
        
/* Home */
#homeBody{
    overflow: hidden;
}

#headshot {
    float: left;
    margin-left: 2rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    width:35%;
    max-width:55rem;
    height:auto;
    /* position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); */
}

#homeBodyText{
    width:55%;
    float:right;
    margin-top:2rem;
    margin-right: 2rem;
    text-align: center;
}
#homeBody h3{
    margin: 0;
    margin-top:.5rem;
    width: 100%;
}
#homeBody h4{
    margin:0;
    margin-top: 1rem;
    width: 100%;
}

#homeBody2{
    overflow: hidden;
}
#BoRhap {
    float: right;
    margin-right: 2rem;
    margin-bottom: 2rem;
    width:50%;
    max-width:55rem;
    height:auto;
    /* position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); */
}
#homeBody2Text{
    width:30%;
    float:left;
    margin-left: 2rem;
    text-align: center;
}
#homeBody2 h4{
    margin:0;
    margin-top: 1rem;
    width: 100%;
}

/* About */
#aboutBody {
    overflow: hidden;
    margin-left: 10%;
    margin-right: 10%;
    margin-top:2rem;
    margin-bottom:2rem;
}
#aboutBodyText{
    text-align: center;
    width:60%;
    float: left;
}
#aboutBody h3 {
    margin-top:0;
}
#gradPic {
    width:30%;
    float:right;
}

/* Projects (Career) */
#projectsBody {
    overflow: hidden;
    margin-left: 10%;
    margin-right: 10%;
    margin-top:2rem;
    margin-bottom:2rem;
}
#projectsBodyText{
    text-align: center;
    width:59%;
    float: left;
}
#projectsBody h3 {
    margin-top:0;
}
#projectsGuitar {
    width:39%;
    float:right;
}

#projects2Body {
    overflow: hidden;
    margin-left: 10%;
    margin-right: 10%;
    margin-top:2rem;
    margin-bottom:2rem;
}
#projects2BodyText{
    text-align: center;
    width:49%;
    float: right;
}
#projects2Body h3 {
    margin-top:0;
}
#projectsLivesound {
    width:49%;
    float:left;
}

#projects3Body {
    overflow: hidden;
    margin-left: 10%;
    margin-right: 10%;
    margin-top:2rem;
    margin-bottom:2rem;
}
#projects3BodyText{
    text-align: center;
    width:49%;
    float: left;
}
#projects3Body h3 {
    margin-top:0;
}
#projectsMixing {
    width:49%;
    float:right;
}
