* {
    border: 1px solid red;
}

body {
    background-color: rgb(231, 231, 231);
    margin: 0;
    background: 0;
}

#topbar {
    text-align: left;
    /* background-color: navy; */
    /* width: 100%; */
    margin: 0;
    padding: 0;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    align-items: right;
}

nav li{
    display: inline-block;
    /* margin-right: 20px; */
}

nav a {
    color: rgb(1, 77, 82);
    text-decoration: none;
    font-size: 20px;

}

